{
    "env": {
        "node": true,
        "es6": true
    },
    "globals": {
        "test": true,
        "expect": true,
        "fetch": true,
        "__DEV__": true,
        "__PROD__": true,
        "__SERVER__": true,
        "__CLIENT__": true
    },
    "rules": {
        "indent": [1, 4, { "SwitchCase": 1 }]
    },
    "extends": "airbnb-base"
}
